/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
 $bright-color: #fff;
 @mixin bottom {
	position: absolute;
	right: 0;
	left: 0;
}



.jpg-fnugg-parent {
	display: flex;
	justify-content: center;
	align-items: center;
	//min-height: 100vh;
	line-height: 1.4;
}

//Card design referece -> https://codepen.io/dickyal6/pen/rNeRepd

.jpgfnugg-container{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 400px;
	height: 500px;
	position: relative;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
	.jpgfnugg-container__info {
		@include bottom;
		bottom: 20%;
		display: flex;
		align-items: flex-end;
		padding: 30px 15px;
		color: $bright-color;
		background-color: rgba(0, 0, 0, 0.60);
		span {
			margin-right: 10px;
		}
		i {
			margin-right: 5px;
		}
	}
	.jpgfnugg-container__profile {
		background-color: #e4f2fd;
		display: flex;
		align-items: center;
		padding: 0 20px;
		@include bottom();
		bottom: 0;
		h2 {
			color: #334454;
			font-size: 1.5rem;
			font-weight: bold;
		}
		p {
			color: #000;
			font-size: 0.9rem;
		}
		p b {
			font-style: italic;
		}
	}
	@media only screen and (max-width: 768px){
		.jpgfnugg-container__info {
			bottom: 25%;
		}
	}
}

